body
{
    width: 1219px;
    margin: 0px auto;
    padding: 0px;
}

a, a:visited
{
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
}

#topbar 
{
    position: fixed;
    width: 1219px;
    height: 84px;
    background-color: #007765;
}

#PiedPiperLogo
{
    margin: 20px 55px;
}

#TopMenu
{
    float: right;
    margin: 25px 55px;
    
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
}

#TopMenuFixer
{
    height: 84px;
}