.restaurants {
    margin-top: 16px;
    justify-content: flex-start;
    transition-duration: 1s;
}

.restaurants:hover {
    background-color: #DCFFDC;
    transition-duration: 0.5s;
}

.restlogo {
    width: 100%;
}

.resttime {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    color: #1D1D1D;
    padding-top: 4px;
}