@font-face {
    font-family: 'DSEG7';
    src: url(../fonts/DSEG7/DSEG7ClassicMini-Regular.woff) format("woff");
}

@font-face {
    font-family: 'DSEG14';
    src: url(../fonts/DSEG14/DSEG14ClassicMini-Regular.woff) format("woff");
}

body {
    background-image: url(../img/bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

td {
    width: 32px;
    height: 32px;
}

/* FONTS definitions */
.dseg14 {
    font-family: DSEG14;
}

.dseg7 {
    font-family: DSEG7;
}

/* Align classes */

.place-row {
    display: flex;
    flex-direction: row;
}

.place-column {
    display: flex;
    flex-direction: column;
}

.align-vcenter {
    display: flex;
    align-items: center;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.zero-h-margin {
    margin-right: -8px;
    margin-left: -8px;
}

/* Control panel classes */

.control-panel {
    background-image: url(../img/panel-bg.png);
    border: #989898 outset 3px;
    border-radius: 12px;
    margin-left: 16px;
}

/* gauge - completed set of indicators */

.gauge {
    padding: 4px;
    width: 100%;
}

/*NORMAL Digits Indicator style */

.seg-indicator {
    background-color: #000;
    border: inset gray 2px;
    height: 30px;
    padding: 0 4px;
    padding-top: 2px;
}

.seg-indicator-grid {
    position: relative;
    top: 0px;
    font-size: 24px;
    color: #003E00;
    text-align: right;
    z-index: 1;
}
.seg-indicator-value {
    position: relative;
    top: -31.5px;
    font-size: 24px;
    color: #68EA68;
    text-align: right;
    z-index: 2;
}

/*End NORMAL Digits Indicator style */

.fcs {
    display: flex;
    justify-content: space-around;
}

.gauge-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.gaugesign {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: outset 1px grey;
    background-image: url(../img/panel-bg.png);
    color: white;
    font-family: monospace;
    font-weight: 800;
    font-size: 16px; 
}

.gaugelabel {
    padding: 2px 10px;
    color: #DDDDDD;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

.control-panel-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #CCCCCC solid 4px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}

.control-panel-group-label {
    padding: 2px 10px;
    margin-top: -28px;
    margin-bottom: 10px;
    color: #DDDDDD;
    background-image: url(../img/panel-bg.png);
    border: #CCCCCC 3px solid;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

.rivets {
    margin: 8px;
}

.monitor
{
    border-color: #989898;
    border-width: 16px;
    border-radius: 20px;
    border-style: ridge groove groove ridge;
    padding: 10px;
    background-image: url(../img/screennoise.png);
}

.battlegrid {
    border: solid 3px green;
    border-spacing: 0px;
}

.battlegrid-cell {
    color: green;
    
    border: dashed 1px green;
    margin: 0px;
    transition-duration: 0.5s;
}

.battlegrid-cell:hover {
    border: solid 1px;
    border-color: green;
    background-color: green;
    color: black;
}

.battlegrid-xcoord {
    color: green;
    font-family: DSEG14;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.battlegrid-ycoord {
    color: green;
    font-family: DSEG14;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}