@font-face {
    font-family: 'DSEG7';
    src: url(../fonts/DSEG7/DSEG7ClassicMini-Regular.woff) format("woff");
}
@font-face {
    font-family: 'DSEG14';
    src: url(../fonts/DSEG14/DSEG14ClassicMini-Regular.woff) format("woff");
}
@font-face {
    font-family: 'GOST';
    src: url(../fonts/OpenGOST/opengosttypeattregular.woff) format("woff");
    
}
@font-face {
    font-family: 'captureit';
    src: url(../fonts/captureit/captureit.woff) format("woff");
}

@font-face {
    font-family: 'texgyre';
    src: url(../fonts/texgyre/texgyre.woff) format("woff");
}

body {
    background-image: url(../img/bg-alt.jpg);
}

td {
    width: 32px;
    height: 32px;
}

/* FONTS definitions */
.dseg14 {
    font-family: DSEG14;
}
.dseg7 {
    font-family: DSEG7;
}
.gost-font {
    font-family: GOST;
}

/* Utility classes */

.place-row {
    display: flex;
    flex-direction: row;
}
.place-column {
    display: flex;
    flex-direction: column;
}
.place-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}
.align-vcenter {
    display: flex;
    align-items: center;
}
.align-hcenter {
    display: flex;
    justify-content: center;
}
.align-top {
    display: flex;
    align-items: flex-start;
}
.align-right {
    display: flex;
    justify-content: flex-end;
}
.zero-h-margin {
    margin-right: -8px;
    margin-left: -8px;
}
.display-none {
    display: none;
}
.test-item {
    flex-grow: 0;
}

/* Page classes */

.main-content {
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-alt.jpg);
}

.page-header {
    border-bottom: 5px ridge white;
    border-top: 5px ridge white;
    margin-bottom: 12px;
    height: 64px;
    color: white;
    background-image: url(../img/bg.png);
    font-size: 36px;
    padding: 8px;
}

/*Main panels Classes */
.fcs {
    width: 1000px;
    padding: 24px;
    border: outset 5px white;
    border-radius: 12px;
    background-image: url(../img/panel-bg.png);
    align-content: center;
    z-index: 2;
}
.monitor {
    min-width: 400px;
    min-height: 400px;
    
    border-color: #989898;
    border-width: 16px;
    border-radius: 20px;
    border-style: ridge groove groove ridge;
    padding: 10px;
    background-image: url(../img/screennoise.png);
    z-index: 2;
}
.placeships-panel {
    background-image: url(../img/panel-bg.png);
    border: #989898 outset 3px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    margin-top: -24px;
    z-index: 1;
}
.control-panel {
    /* background-image: url(../img/panel-bg.png);*/
    background-color: #3D3D3D;
    border: #989898 inset 3px;
    border-radius: 12px;
    margin-left: 16px;
    align-self: flex-start;
}
.log-printer {
    width: 300px;
    height: 400px;
    border: 3px #989898 inset;
    border-radius: 12px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 2px 6px;
    background-image: url(../img/log-paper.png);
    background-position: 0px 22px;
    background-attachment: local;
    overflow-y: scroll;
}

.log-printer-record {
    font-family: texgyre;
    font-size: 18px;
    line-height: 20px;
}

/* gauge - completed set of indicators */

.gauge {
    padding: 4px;
    width: 100%;
}
.gaugesign {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: outset 1px grey;
    background-image: url(../img/panel-bg.png);
    color: white;
    font-family: monospace;
    font-weight: 800;
    font-size: 16px; 
}
.gaugelabel {
    padding: 2px 10px;
    color: #DDDDDD;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

/* Gauges groups */
.control-panel-group {
    align-items: center;
    border: #CCCCCC solid 4px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}
.control-panel-group-label {
    padding: 2px 10px;
    margin-top: -28px;
    margin-bottom: 10px;
    color: #DDDDDD;
    background-color: #3D3D3D;
    border: #CCCCCC 3px solid;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

/*NORMAL Digits Indicator style */

.seg-indicator {
    background-color: #000;
    border: inset gray 2px;
    height: 30px;
    padding: 0 4px;
    padding-top: 2px;
}
.seg-indicator-grid {
    position: relative;
    top: 0px;
    font-size: 24px;
    color: #003E00;
    text-align: right;
    z-index: 1;
}
.seg-indicator-value {
    position: relative;
    top: -31.5px;
    font-size: 24px;
    color: #68EA68;
    text-align: right;
    z-index: 2;
}

/*End NORMAL Digits Indicator style */


/* Key button style */

.button-key {
    background-image: url(../img/button-bg.png);
    border-color: #808080;
    border-radius: 5px;
    border-width: 3px;
    border-style: outset;
    padding-right: 10px;
    padding-left: 10px;
    color: #C5C5C5;
    outline: none;
    margin: 5px;
}

.button-key:active {
    border-style: groove;
}

.ships-key {
    height: 32px;
    width: 128px;
    font-size: 20px;
    font-weight: 400;
}

.ships-key:active {
    font-size: 19.5px;
}

.place-key {
    height: 48px;
    width: 128px;
    font-size: 32px;
}

.place-key:active {
    font-size: 31.5px;
}

.place-keys-container {
    margin-left: 16px;
}

.rivets {
    margin: 8px;
}

/* Start Menu Classes */
.start-menu {
    margin-bottom: auto;
    width: 100%;
    padding: 20px;
    color: green;
}
.start-menu-item {
    margin-bottom: 10px;
    font-size: 42px;
    width: 100%;
}
.start-menu-item:hover {
    color: black;
    background-color: green;
    font-size: 42px;
}

/* Game grid classes */
.battlegrid {
    border: solid 3px green;
    border-spacing: 0px;
}
.battlegrid-cell {
    color: green;
    
    border: dashed 1px green;
    margin: 0px;
    transition-duration: 0.5s;
}
.battlegrid-cell:hover {
    border: solid 1px;
    border-color: green;
    background-color: green;
    color: black;
}
.battlegrid-xcoord {
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.battlegrid-ycoord {
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* Main Content */


